@import url('https://fonts.googleapis.com/css2?family=Sarala&display=swap');



h1{
    color: #FF4B4B;
    margin-bottom: 50px; 
    font-family: 'Sarala', sans-serif;
}

h3{
    color: #AB8686;
    display: inline-block;
    margin-right: 200px;
    font-family: 'Sarala', sans-serif;
    text-align: right;
}
.Stack{
    margin-bottom: 30px;
}

.AppBar{
    font-family: 'Sarala', sans-serif;
    color: white;
}
/* sx={{color: "#ffffff", padding: "15px 30px", fontFamily: 'Sarala, sans-serif', textTransform:'capitalize'}} */

.TextField{ 
    width: 270px;
}

.BoxChild{
    background-color: #FF4B4B;
    color: #ffffff;
    width: 1500px;
    height: 50px;
}











